body {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: 400;
  margin: 0;
  background-image:
    linear-gradient(0deg, rgba(255, 255, 255) 99px, #006633 100px 120px, rgba(255, 255, 255) 121px);
}